<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Productos</title>
</head>
<body>
    <div class="container">
        <h1>Listar productos</h1>
        <div class="card tarjetaprod">
            <img src="" class="card-img-top" id="imgp">
            <div class="card-body">
                <h1 class="card-title" id="nombrep"></h1>
                <p class="card-text" id="descripcionp"></p>
                <p class="card-text" id="preciop"></p>
                <p class="card-text" id="cantidadp"></p>
            </div>          
        </div>
    </div>
    
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/viewproductos.js"></script>
</body>
</html>