.textol{
    color: rgb(178, 252, 4);
}

.margincajas{
    margin-block: 10px;
}

.cajapequena{
    width: 30%;
}

.sombracaja{
    box-shadow: 10px 10px 5px 0px rgba(17, 17, 16, 0.75);
}

.tarjetaprod{
    width: 20%;
    height: auto;
}